build/
dist/
nbproject/private/


._.DS_Store
.DS_Store

# Class Files #
*.class 

# Package Files #
*.jar
!src/main/webapp/WEB-INF/lib/*.jar
*.war
*.ear
/nbproject/
/target/
.project
.settings
run.sh
.classpath
/target/
src/main/webapp/WEB-INF/spring-context.xml
/run_mysq.sh